{{> menu}}

<section class="ui segment">
  <h2 class="ui header">
    {{bookmarklist.title}}
  </h2>
  <table class="ui fixed table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each bookmarklist.bookmarks}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          <a href="{{link}}"> {{link}}</a>
        </td>
        <td>
          <a href="/bookmarklist/{{../bookmarklist.id}}/deletebookmark/{{id}}" class="ui tiny red button">Delete Bookmark</a>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</section>

